[submodule "subprojects/Catch2"]
	path = subprojects/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "subprojects/date"]
	path = subprojects/date
	url = https://github.com/HowardHinnant/date.git
